body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

#play-area {
  flex-grow: 1;
  background-image: url('assets/background.jpg'); /* Path to your downloaded image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image in the area */
  position: relative;
  overflow: hidden;
  cursor: none;
}

.object {
  width: 75px;
  height: 75px;
  position: absolute;
  cursor: pointer;
}

#player {
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: auto;
  left: 50%;
}

#game-container {
  display: flex;
  height: 100vh; /* Adjust height as needed */
  width: 100%;
}

#sidebar {
  width: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #dddddd;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding is included in the 30% width */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  position: relative; /* Needed for absolute positioning of elements inside */
  width: calc(50% - 10px); /* Adjust width as needed, accounting for margin */
  margin: 5px; /* Space between cards */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures that the background image is contained within the borders */
  color: #fff; /* Text color for better visibility over a potentially dark background */
  background-size: cover; /* Ensure the background covers the card */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns text to the bottom */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
  height: 15%;
  cursor: pointer;
}

.card h3,
.card p {
  position: relative; /* Ensure text is above the background */
  z-index: 2; /* Higher than the background */
  margin: 10px; /* Space inside the card */
}

.card::after {
  content: ""; /* This pseudo-element serves as an overlay */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent overlay for better text visibility */
  z-index: 1; /* Below the text */
}

.card img {
  max-width: 100%; /* Ensure image does not cause overflow */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.mirror {
  transform: scaleX(-1);
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@font-face {
  font-family: "KA1";
  src: url("ka1.ttf") format("truetype");
}

@keyframes slideInAndOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  5%,
  95% {
    /* Adjust these values to reduce the time spent offscreen */
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.score-message {
  position: absolute; /* Absolute positioning within the play-area */
  left: -100%; /* Initially positioned completely on the left outside play-area */
  top: 50%; /* Centered vertically */
  transform: translateY(-50%);
  font-size: 24px;
  color: #000;
  opacity: 0; /* Initially fully transparent */
  z-index: 1000;
  text-align: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  white-space: nowrap;
  font-family: "KA1";
}

#game-over-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000; /* Make sure this is above all game elements */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px; /* Or as appropriate */
  box-sizing: border-box;
}

/* Fade-out effect */
.fade-out {
  animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Fade-in effect */
.fade-in {
  opacity: 0; /* Start invisible */
  animation: fadeInAnimation 0.5s forwards;
}

.cardFadeIn {
  animation: cardFadeIn 0.5s ease-out forwards;
}


/* Ensure h2 and form are visually distinct and aligned */
#play-area h2,
#game-over-form {
  text-align: center;
  margin: 20px 0;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#sidebar h2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#health-bars {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust the space between hearts */
}

.heart {
  width: 50px; /* Adjust based on your preference and image size */
  height: auto;
}

#score-container {
  color: #fff; /* Adjust the color as needed */
  font-size: 20px; /* Adjust the size as needed */
  /* Other styling as needed */
}
